body{background:#e3e3e3;font-family: 'Roboto', sans-serif;}

.logo_part { margin: 0 -15px; padding: 15px;}
.logo_part a.button-left {}
header.header .logo_part {  position: fixed; width: 227px; z-index: 2; }
header.header .logo_part a.float-right {margin-top: 15px; color: #fff;}
.responsive-setting-toggle-cont {}
.responsive-setting-toggle-cont .dropdown { font-size: 15px; font-weight: 300;}
.responsive-setting-toggle-cont .dropdown .billing {padding: 0 4px;}
.responsive-setting-toggle-cont .dropdown a.dropdown-toggle {color: #000; margin: 0 5px;}
.responsive-setting-toggle-cont .dropdown a.dropdown-toggle:after { margin-bottom: -2px;}
.responsive-setting-toggle-cont .dropdown ul.dropdown-menu{padding:0 5px;}
.responsive-setting-toggle-cont .dropdown ul.dropdown-menu li {padding: 5px;border-bottom:1px solid #f7f7f7;}
.responsive-setting-toggle-cont .dropdown ul.dropdown-menu li a {font-size: 15px; color: #8c8c8c; display: block; text-decoration: none;}
.responsive-setting-toggle-cont .dropdown ul.dropdown-menu li:last-child {border: none;}




.top-whit-bg {background:#fff; border-radius: 9px; box-shadow:0 0 15px #ccc; margin-top:48px; display:inline-block; width: 100%;}
.icon-heading {font-size: 20px;  float: left;  margin: -30px 0 0 30px;}
.icon-heading > span { padding:26px 24px; background: #fff; border-radius: 3px; display: inline-block; float: left;box-shadow: 0 0 15px #ccc;}
.icon-heading p {float: left; font-weight: 600px; padding: 49px 0 0 15px;}
 


 
.sidebar {position: fixed; width: 228px; height: 100%; padding-top: 84px; top: 0; left: 0; background: url('../images/side-img.png'); z-index: 1;}
.sidebar nav {}
.sidebar nav ul {margin: 0;  padding: 15px;}
.sidebar nav ul li {border-top: 0.5px solid #616161;padding: 15px 0;}
.sidebar nav ul li a {font-size: 13px; padding:10px; color: #fff; width: 100%; display: block; border-radius: 4px; line-height: 23px; text-decoration: none;}
.sidebar nav ul li a.active{background: #5300cb;}
.sidebar nav ul li a img {margin-right: 9px; height: 22px;width: auto;}


.button-set { float: right; padding: 15px 15px 0; }

.btn-add-task { background: #5300cb; border: 1px solid #5300cb; color: #fff; font-size: 15px; letter-spacing: .5px; line-height: normal; padding: 10px 22px;}

.btn { font-family: 'Roboto', sans-serif;}
.btn-export img{height: 16px;margin-right: 5px;}
.btn-export:hover img{filter:contrast(1) brightness(5);}
.btn-export { border: 1px solid #7f7f7f; color: #7f7f7f; font-size: 15px; line-height: normal; letter-spacing: .5px; padding: 10px 22px;}
.btn-warning{background: #f1af45;}

.search-filter { display: flex; width:96.8%; margin: 0 15px; padding-top: 15px;}

.search-filter .form-control { border-radius: 0; margin-left: -1px; border: 1px solid #dedede; width: 226px; outline: none; height: 41px;}

.search-filter .form-control:first-child { width: 340px; border-radius: 5px 0 0 5px;}

.search-filter .form-control.ddt { width: 250px; border-radius: 0 5px 5px 0;}
.search-filter .form-control[type="search"] { background: url(../images/search-icon.png); padding-left: 48px; background-repeat: no-repeat; background-position: 16px 9px;margin-left: 0px;}
.search-filter .apply { background: #fff; border: 1px solid #5300cb; outline: none; border-radius: 5px; padding: 6px 28px; margin-left: 20px; color: #5300cb; font-size: 14px;}

.search-filter .apply:hover { background: #2e2e2e; color: #fff;}
.locatin-filter .form-control, .locatin-filter .form-control:first-child { width: 100%;}
.locatin-filter .form-control:last-child{border-radius:0 5px 5px 0;}
.locatin-filter .form-control.ddt {width: 100%;}


.btn:hover { background: #2e2e2e; color: #fff;}

.tabledata tr th { font-size: 18px; font-weight: 300; opacity: .8; padding: 10px;}
.tp-heading { float: left; font-size: 21px; margin-top: 14px;}
.tabledata { margin:30px 15px 50px;}

.tabledata table,.tabledata table tbody { margin: 0; width: 100%;}

.tabledata tr th,.tabledata tr td { border-bottom: 1px solid #ccc; vertical-align: text-bottom;}

.tabledata tr td { padding:20px 10px; font-size: 15px; font-weight: normal;}

.tabledata tr th:nth-child(4) { width: 220px;}

.tabledata tr td a.nme { color: #5300cb; font-size: 18px; margin-bottom: 7px; display: block;}

.tabledata tr td  .taskdate { font-size: 15px;}

.tabledata tr td  .taskdate span { font-size: 14px; color: #949494; display: block;}
.tabledata tr td.action {}

.tabledata tr td.action a { color: #8b8b8b; text-decoration: none;}

.tabledata tr td.action a img { margin-right: 5px;}

.tabledata tr.accordion-toggle {}

.tabledata tr.hide-table-padding > td { padding: 0;  background: #f3f3f3;}

.tabledata tr.hide-table-padding > td table { width: 90%; margin: 0 auto;}

.tabledata tr.hide-table-padding > td table tr td { padding: 5px; border: 0 none; font-size: 14px; font-weight: 500; opacity: .7;}

.tabledata tr.hide-table-padding > td table tr th { font-size: 15px; font-weight: 500; opacity: 1;}

.tabledata tr.hide-table-padding > td table tr td:nth-child(2){width:70px;}

.tabledata tr.hide-table-padding > td table tr td:nth-child(3){padding-right:30px;}

.tabledata tr.accordion-toggle td img.p-plus, .tabledata tr.accordion-toggle.collapsed td img.p-min {display: none;}
.tabledata tr.accordion-toggle.collapsed td img.p-plus, .tabledata tr.accordion-toggle td img.p-min {display: block;}


.tabledata td.accordion-toggle img.p-plus, .tabledata td.accordion-toggle.collapsed img.p-min {display: none;}
.tabledata td.accordion-toggle.collapsed img.p-plus, .tabledata td.accordion-toggle img.p-min {display: block;}


.modal .modal-dialog {max-width: 65%;}
.modal .modal-dialog .modal-content {}
.modal .modal-dialog .modal-content .Modal-Header {padding: 25px; border-bottom: 1px solid #ccc; display: inline-block; width: 100%;}

.modal .modal-dialog .modal-content .Modal-Header h3 {float: left; font-size: 25px; margin: 0; font-weight: normal;}
.modal .modal-dialog .modal-content .Modal-Header a.modal-cancel-btn {float: right; color: #000; font-family: arial; font-size: 17px; cursor: pointer;}

.modal .modal-dialog .modal-content .Modal-body {padding:15px 25px;}
.modal .modal-dialog .modal-content .Modal-body .form-group {}
.modal .modal-dialog .modal-content .Modal-body .form-group label {width: 100%; display: block;}
.modal .modal-dialog .modal-content .Modal-body .form-group .form-control {width: 100%; height: 40px; border: 1px solid #ccc; border-radius:0;}
.modal .modal-dialog .modal-content .Modal-body .input-group select { border-radius: 0;}
.modal .modal-dialog .modal-content .Modal-footer {padding: 25px; border-top: 1px solid #ccc; display: inline-block; width: 100%;}

.adnew-task {}


 
.adnew-task .Modal-body {padding:15px 25px; clear:both; border-top:1px solid #eee;}
.adnew-task .Modal-body .form-group {}
.adnew-task .Modal-body .form-group label {width: 100%; display: block;}
.adnew-task .Modal-body .form-group .form-control {width: 100%; height: 40px; border: 1px solid #ccc; border-radius:0;}
.adnew-task .Modal-body .input-group select { border-radius: 0;}
.adnew-task .Modal-footer {padding: 9px; border-top: 1px solid #ccc; display: inline-block; width: 100%;}
 .Modal-footer {padding: 25px; border-top: 1px solid #ccc; display: inline-block; width: 100%;}


.adnew-task .Modal-body .controls {}
.adnew-task .Modal-body .controls .btn{margin-right:25px;border-radius: 50px;
   padding: 3px 7px;
  margin-top: 7px;
  font-size: 13px;}
.adnew-task .Modal-body .controls .btn-add {
  background: #5300cb;
  border: 1px solid #5300cb;border-radius:50px;
}

.row.screen-location-page.scrennn-update-page {}

button.btn.btn-success.btn-add {}

.adnew-task .Modal-body .controls input.form-control {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 0;
}

.adnew-task .Modal-body .controls .input-group {
  margin: 15px;
}

.adnew-task .Modal-body .control-group h3 {
  font-size: 20px;
}



div#sub_task_model .modal-dialog { width: 40%;}
div#sub_task_model .modal-dialog .Modal-body {}
div#sub_task_model .modal-dialog .Modal-body table.kitc-tbl { width: 100%;}
div#sub_task_model .modal-dialog .Modal-body table.kitc-tbl th { padding-bottom: 15px; border-bottom: 1px solid #e4e4e4; font-size: 20px; font-weight: 500;}
div#sub_task_model .modal-dialog .Modal-body table.kitc-tbl td { padding: 10px 0; font-size: 18px;  opacity: .6;}
div#sub_task_model .modal-dialog .Modal-body table.kitc-tbl tbody { padding:7px 0; }
div#sub_task_model .modal-dialog .Modal-body table.kitc-tbl td + td { text-align: right;  opacity: 1;}
div#sub_task_model .modal-dialog .Modal-body table.kitc-tbl tfoot th { border-top: 1px solid #e4e4e4; border-bottom: 0 none; padding-top: 15px; padding-bottom: 0;}
div#sub_task_model .modal-dialog .Modal-body table.kitc-tbl tfoot td {padding-bottom: 0;}
div#sub_task_model .modal-dialog .Modal-body table.kitc-tbl tbody tr:first-child td {padding-top: 25px;}
div#sub_task_model .modal-dialog .Modal-body table.kitc-tbl tbody tr:last-child td {padding-bottom: 25px;}
div#sub_task_model .modal-dialog .Modal-body table.kitc-tbl td + td .btn {width: 120px;}



.modal-dialog { max-width: 65%;}
.modal-dialog .Modal-body {}
.modal-dialog .Modal-body table.kitc-tbl { width: 100%;}
.modal-dialog .Modal-body table.kitc-tbl th { padding-bottom: 15px; border-bottom: 1px solid #e4e4e4; font-size: 20px; font-weight: 500;}
.modal-dialog .Modal-body table.kitc-tbl td { padding: 10px 0; font-size: 18px;  opacity: .6;}
.modal-dialog .Modal-body table.kitc-tbl tbody { padding:7px 0; }
.modal-dialog .Modal-body table.kitc-tbl td + td { text-align: right;  opacity: 1;}
.modal-dialog .Modal-body table.kitc-tbl tfoot th { border-top: 1px solid #e4e4e4; border-bottom: 0 none; padding-top: 15px; padding-bottom: 0;}
.modal-dialog .Modal-body table.kitc-tbl tfoot td {padding-bottom: 0;}
.modal-dialog .Modal-body table.kitc-tbl tbody tr:first-child td {padding-top: 25px;}
.modal-dialog .Modal-body table.kitc-tbl tbody tr:last-child td {padding-bottom: 25px;}
.modal-dialog .Modal-body table.kitc-tbl td + td .btn {width: 120px;}


header.header .logo_part a.button-menu {
  display: none;
}
.dropdown.bootstrap-select.show-tick.selectm.dropup {
    width: 100%!important;
    border: 1px solid #ddd;
    border-radius: 5px;
}
/*.btn:hover {
    background: #ffff!important;}*/
.dropdown.bootstrap-select.show-tick.selectm {
    width: 390px;
}



.login-page .content {
  background-image: url(../images/login-back.jpg) !important;
  width: 100%;
  float: left;
  display: inline-block;
  background-repeat: no-repeat !important;
  margin: 0 auto;
  text-align: center;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  /* padding-top: 30px !important; */
  min-height: 100vh;
}

.card-white {
  color: #000000 !important;
  border-color: rgba(29, 37, 59, 0.2);
  font-size: 17.94px !important;
  padding-bottom: 44px !important; 
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 17px 10px !important;
}

.login-background-img .justify-content-center {
  height: 100vh;
}
.login-background-img .card-white {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
} 


.login-background-img .card-white  .card-header {
  background: transparent;
  border-bottom: 0 none;
}

.login-background-img .card-white .card-header img {
  width: 60%;
  border-bottom: 0 none;
}

.login-background-img .card-white .card-body {
  padding: 35px 39px 15px 39px;
}

.login-background-img .card-white .card-body label {
  padding: 0;
  margin-bottom: 15px;
}

.login-background-img .card-white .card-body .cw-form-box-div {
  padding: 0;
  position: relative;
}

.login-background-img .card-white .card-body .cw-form-box-div input {
  border-radius: 0;
  padding-left: 45px;
}

.login-background-img .card-white .card-body .cw-form-box-div .cw-form-box-symbol-input,
.login-background-img .card-white .card-body .cw-form-box-div .cw-form-box-symbol-forgot {
  position: absolute;
  left: 11px;
  top: 4px;
}

button.reset-password-btn,
.cw-logo-page-footer-btn {
  display: block;
  border-radius: 5px;
  width: 100%;
  border: none;
  background-color: #6300f0;
  color: white;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 45px 0 15px;
}

.login-background-img .card-white .card-body .for-forget-password-button {
}
.footer-link, .reset-password-Sign {
  color: #000;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
.dropdown-menu.show {
    width: 100%;
    min-width: 100%;
}
button.btn.dropdown-toggle.bs-placeholder.btn-light {
    background: #fff!important;
    outline: 1px solid #ccc!important;
    color: #000;
}
.row.admin-profile-page {
    margin-top: 25px;
}
.card-body.admin-profile-page-card-body {
    padding: 1.25rem 1.25rem 0.4rem 1.25rem!important;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #5300cb; 
}
::-webkit-scrollbar-thumb:hover {
  background: #5300cb; 
}
select.cleanwizard_assign_location {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 0;
}
.add-cleanwizar-plus {
    text-align: end;
    margin-right: 10px;
}
.row.cleaningwizard-new-row {
    background: #dddddd36;
    border-radius: 5px;
    padding: 5px 10px 0px 10px;
}

input#newcleanwizared-plus {
    border: none;
}
.mins-cleanwizar-mins {
    text-align: end;
}
.update-cleanwizar-plus {
    text-align: end;
    margin-right: 25px;
}
.update-cleanwizar-minus-delete {
    text-align: end;
}
input#newcleanwizared-plus-update {
    border: none;
    background: #fff;
}
.update-cleanwizar-minus-delete input{border: none;}
div.cleaningwizard-new-row-wizard {
    margin-right: 0px!important;
    margin-left: 0px!important;
}
img.add-cleanwizar-plus-img{width: 20px; cursor: pointer;}
.form-make-add-gap-clean {
    height: 44px;
    margin-bottom: -24px;
    margin-top: -2px;
}
.modal-body-row-gap-clean {
    margin-bottom: -45px!important;
}
div.cleaningwizard-new-row-wizard-gap-clean {
    margin-left: 15px;
    margin-right: 15px;
}
.form-group-clean-gap {
    margin-bottom: 1px;
}
.pagination {
    justify-content: flex-end;
    padding-top: 30px;
    padding-right: 0px;
    }
    th.action_cleaning_wizard {
    text-align: center;
    padding-right: 95px!important;
}
td.action_cleaning_wizard_room_type {
    text-align: center;
}
.search-filter{padding-bottom: 15px;overflow: auto;}
button.form-control-reset {
    background: #fff;
    border: 1px solid #5300cb;
    outline: none;
    border-radius: 5px;
    padding: 8px 10px;
    margin-left: 15px;
    color: #5300cb;
    font-size: 14px;
    width: 70px;
}
button.form-control-apply-delete{margin-left: 15px!important;}
button.form-control-reset:hover { background: #2e2e2e; color: #fff;}
.button-set-add-new-reset{display: flex;}
button.btn-export-export {
    margin: 0px 20px;
}
.search-filter-bycity{padding-left: 1px;}
a.close.close-delete-record {
    font-size: 15px!important;
    font-weight: 700!important;
    cursor: pointer;
    font-family: arial!important;
}
.Modal-Header-display-delete-record{display: flex!important;justify-content: space-between;padding: 20px 15px 10px 15px !important;}
.text-right-display-delete-record{padding: 15px 15px 15px 15px!important;}
.btn-export-display-delete-record{padding: 9px 12px!important;margin-left: 4px!important;}
.Modal-body-display-delete-record{padding: 15px 15px!important;}
.btn-primary-user-modal{background:#5300cb!important; }
.close-user-modal-delete{outline: none!important;}
.form-control-apply-task-delete{width: 12%!important;}
@media screen and (min-width:1225px) and (max-width: 1324px) {
  .sidebar {
    width: 210px;}
    }
@media screen and (min-width:1125px) and (max-width: 1224px) {
  .sidebar {
    width: 195px;}
    }
@media screen and (min-width:1025px) and (max-width: 1124px) {
  .sidebar {
    width: 181px;}
    }
@media screen and (min-width:768px) and (max-width: 1024px) {
  .sidebar {
    width: 162px;}
    }
@media screen and (max-width: 767px) { 
.sidebar { position: initial; width: 100%; height: auto; padding-top: 0;}
header.header .logo_part a.button-menu {
  display: block;
}
header.header .logo_part {
  width: 100%;
  display: inline-block;position:initial; width: 100%;
  background: #000;
  margin: 0;}


header.header .logo_part .menu-icon {
  width: 100%;
}
header.header nav.navbar .menu-section-with-logo {
  margin: 0 auto;
}
.tp-heading {
  float: initial; display: none;
}

nav.navbar.navbar-toggleable-md.navbar-light.mt-3.pb-0.float-right {
width: 100%;
  margin: 0;
  padding: 5px 0 15px;
  margin-top: 0 !important;
  height: 36px;
  background: #c3c3c3;
}
.sidebar nav ul li { 
  list-style: none;
}
.search-filter {
  display: block;
  width: 94.8%;
  margin: 0 8px;
}

.tabledata {
  overflow: hidden;
  overflow-x: auto;
  width: 96%;
  margin: 15px 0;
}

.top-whit-bg {display: block;}

.search-filter .form-control,
.search-filter .form-control:first-child,
.search-filter .form-control.ddt {
  width: 100%;
  border-radius: 5px;
  margin: 5px 0;
}

.search-filter button.btn.apply {
  width: 100%;
  margin: 0;
  height: 39px;
}
.search-filter button.form-control-reset{
  width: 100%;
  margin: 5px 0px;
  height: 39px;}

.btn.btn-export {
  padding: 10px;
}

.btn-add-task {
  padding: 10px 9px;
}

.button-set {
  padding: 15px 9px;
  width: 100%;

}

.button-set > a {
  float: right;
}

.modal .modal-dialog {
  max-width: 100%;
}
.tabledata tr td {
    font-size: 14px;}
div#sub_task_model .modal-dialog {
    width: 100%;
}
button.form-control-apply-delete {
    margin-left: 0px!important;
}
.form-control-apply-task-delete {
    width: 100%!important;
}
 }
