.project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
}
.cursor-pointer { cursor: pointer; }
.member-ship-page .table>thead>tr>th:first-child {
    padding-left: 136px;
}
=================27/12/2019 sunaina css===============
.login-background-img .card-footer{
    text-align: center !important;
}
.login-background-img .logo-page-footer .login-button-for-pages {
    border: 0;
    background: no-repeat;
    font-size: 14px;
    color: #fff;
    /*font-family: 'Roboto-Regular';*/
    cursor: pointer;
    font-weight: 500;
}
.login-background-img .login-page {
    margin-bottom: 51px;
}
.login-background-img .card .logo-page-footer {
    background-color: #6300f0;
    /*background-color: transparent;*/
    border: 0;
    padding: 10px 22px;
    /*padding: 11px 22px;*/
    text-align: center !important;
    margin-bottom: 47px;
    position: relative;
    margin:0px 60px 11px 60px;
    border-radius: 5px;
}

.invalid-feedback {
    margin-top: -6.75rem;
    margin-left: -78px;
}
.login-background-img .has-success:after, .has-danger:after{
    display: none !important;
}

span#latlong {
    width: 100%;
    float: left;
    padding: 21px 0px;
    font-size: 13px;
    color: #000000;
    font-family: 'Roboto-Regular';
    line-height: 19px;
    letter-spacing: 2.2px;
    font-weight: 600;
}
button:focus {
    outline: 1px dotted;
    outline: none;
}

.login-background-img .has-success:after, .has-danger:after {
    /*font-family: 'nucleo';*/
    content: "\ea1b";
    display: inline-block;
    position: absolute;
    right: 1px;
    top: -26px;
    color: #00f2c3;
    font-size: 11px;
}
.login-background-img .card.card-login.card-white.login-page-header {
    top: 70px;
    border-radius: 0.4285rem;
    padding-bottom: 0;
    width: 100%;
    height:auto;
    position: relative;	
    margin: 0 auto;
}

/*.login-background-img .card.card-login.card-white.login-page-header:after {
    width: 389px;
    position: absolute;
    height: 9px;
    top: -10px;
    left: 30px;
    right: auto;
    bottom: 0;
    content: '';
    border: 5px solid #dc1584;
    border-radius: 3px;
}*/
.card .card-body.login-form-page label {
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  text-align: left !important;
  padding: 5px 0;
  color: #000;
}
.login-background-img .card.card-login.card-white.login-page-header:before {
    bottom: -10px;
}


.login-background-img .card.card-login.card-white.login-page-header:after {
        top: -10px;
}

/*.login-background-img .card.card-login.card-white.login-page-header:after, .login-background-img .card.card-login.card-white.login-page-header:before{
	width: 359px;
	position: absolute;
	left: 0;
    right: 0;
    content: '';
    border: 5px solid #dc1584;
    border-radius: 3px;
    margin: 0 auto;
    height: 9px;
}*/
.footer {
    padding: 0;
}

.scrennn-update-page .table-screen-page table tr td.active-color { color: #5ab15b !important;font-weight: 600;letter-spacing: 1.1px;}
.scrennn-update-page .table-screen-page table tr td.inactive-color {color: #bf3c3f !important;font-weight: 600; letter-spacing: 1.1px;}

.screen-location-page .table>thead>tr>th.product-table {
    width: 500px;
}
.screen-location-page .table>thead>tr>th.location-table {
    width: 500px;
}
.screen-location-page .table>thead>tr>th.action-table {
    text-align: right;
        width: 500px;
}
.screen-location-page .table>tbody>tr>td.add-product-table {
    text-align: right;
}

.location-padding-top {
    padding-bottom: 51px;
}
body {
    background: #f7f7f7;
}

.login-page .full-page>.content {
    padding-bottom: 0px;
    padding-top: 24px;
}
/*.login-background-img .col-lg-4.col-md-6.ml-auto.mr-auto:after,.login-background-img .card.card-login.card-white.login-page-header:after  {
    width: 389px;
    position: absolute;
    height: 9px;
    top: -10px;
    left: 46px;
    right: auto;
    bottom: 0;
    content: '';
    border: 5px solid #dc1584;
    border-radius: 3px;
}
.login-background-img .card.card-login.card-white.login-page-header:after {
    top: auto;
    bottom: -10px;
}*/

.login-background-img {
 /*   display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.5rem 0.7rem;
    font-size: 0.875rem;
    line-height: 1.428571;
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    background-clip: padding-box;
    border-radius: 0.25rem;
    box-shadow: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-bottom: 1px solid #ddd;
    border-top: 0;
    border-left: 0 !important;
    box-shadow: none !important;
    border-right: 0 !important;*/
}
.login-background-img .card.card-white .input-group-prepend .input-group-text {
    border-right: none;
    border: 0 !important;
    padding: 0;
}
.login-background-img .card-body {
    /*margin-top: 27px;*/
    margin: 0px 45px 0px 45px;
}
.login-background-img .input-group, .form-group {
    margin-bottom: 30px !important  ;
}

.login-background-img .card-footer.logo-page-footer:after {
    content: '';
    width: 66px;
    height: 1px;
    top: auto;
    bottom: 0px;
    left: auto;
    right: auto;
    position: absolute;
    background-color: #dc1584;
    z-index: 99;
    margin-left: -61px;
}

.login-background-img .card.card-white  {
    color: #000000 !important;
    border-color: rgba(29, 37, 59, 0.2);
    font-size: 17.94px !important;
    padding-bottom: 44px !important;
    font-family: 'Roboto-Regular' !important;
    width: 87%;
    float: left;
    padding: 17px 10px !important;
}
.login-background-img img.email {
    margin-top: -7px;
    width: 100%;
    margin-left: -7px;
    margin-right: 12px;
}
.login-background-img label.login-page-label {
    font-size: 17.95px;
    color: rgba(0, 0, 0, 0.50) !important;
     font-family: 'Roboto-Regular' !important;
}
.login-background-img .input-group-append .input-group-text i, .input-group-prepend .input-group-text i {
    width: 28px !important;
    margin-top: -32px;
}

.login-background-img .input-border {
    border-bottom: 1px solid #ddd;
    width: 89%;
    margin: 0 auto;
}

.login-background-img .pull-right.footer-button-forgot {
   /* text-align: center !important;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    float: left;
    margin-top: 23px;*/
    display: inline-block;
    width: 100%;
    padding: 15px 0px 25px 0px;
}
.login-background-img .pull-right.footer-button-forgot h6 a.link.footer-link {
    color: #000;
    font-size: 12px;
    /*font-family: 'Roboto-Regular';*/
    font-weight: 600;
    /*letter-spacing: 0.1rem;*/
    text-decoration: underline;
    text-transform: capitalize;
}



.login-page .content {
    background-image:  url(../images/login-back.jpg) !important;
    width: 100%;
    float: left;
    display: inline-block;
    background-repeat: no-repeat !important;
    margin: 0 auto;
    text-align: center;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;/*
    padding-top: 30px !important;*/
    min-height:100vh;
}


.col-lg-4.col-md-6.ml-auto.mr-auto.login-page-form {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.col-lg-4.col-md-6.ml-auto.mr-auto.login-page-form:after{
	width: 389px;
    position: absolute;
    height: 9px;
    top: -10px;
    left: 46px;
    right: auto;
    bottom: 0;
    content: '';
    border: 5px solid #dc1584;
    border-radius: 3px;
}
.login-page {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    text-align: center;
}


.login-background-img {
    width: 100%;
    float: left;
    margin-bottom:0px;
    margin-top:0px;
}


.header-pinkfitness .navbar-nav {
    width: 100%;
    padding: 0;
    float: left;
}
.full-page.pricing-page, .full-page.login-page, .full-page.lock-page, .full-page.register-page{min-height: auto;background: none;}
/*.full-page>.content {
    padding-bottom: 0;
    padding-top: 0;
}*/

.screen-location-page .card-body {
    background: #fff;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 50px 50px;
}
.main-panel{
    background: #f7f7f7 !important;
}

.screen-location-page .card {
    background: #f7f7f7;
    border: 0;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow:none !important;
}

.navbar.navbar-transparent {
    background: #0d0c0c !important;
}

.screen-location-page .card .card-header .card-title {
    color: #000000 !important;
    font-size: 17.94px !important;
    font-family: 'Roboto-Regular' !important;
    font-weight: 600 !important;
    margin-top: 17px;
}

.screen-location-page .card .card-body .card-title {
    color: #000000 ;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: .75rem;
    font-size: 20px;
    font-family: 'Roboto-Regular' !important;
}
.product-heading {
    color: rgba(0, 0, 0, 0.50) !important;
}
.manage-border {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    float: left;
}
.screen-location-page .table>thead>tr>th {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
    border: 0;
    color: #000000;
    padding: 20px 36px;
    font-family: 'Roboto-Regular' !important;
    border-top: 1px solid #ddd;
}

.screen-location-page .table>tbody>tr>td {
    font-size: 13.24px;
    text-transform: capitalize;
    font-weight: normal;
    border: 0;
    color: #000000 !important;
    font-family: 'Roboto-Regular' !important;
    padding: 20px 36px;
}

.header-section-manage-location {
    padding: 26px 0px 27px !important;
}

 .navbar .navbar-brand {
    position: relative !important;
}

.navbar.navbar-transparent {
    background: #0d0c0c !important;
    /*position: fixed;*/
}
.screen-location-page .table>thead>tr>th:nth-child(6) {
    width: 212px;
    text-align: right;
    padding: 0px 11px;
}
img.add-location {
    margin-right: 13px;
}
.screen-location-page .table>tbody>tr:hover {
    background-color: #f9f9f9;
}

.MEMBERSHIP-plan .btn-success {
    background: #4caf50 !important;
    background-image: -webkit-linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
    background-image: -o-linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
    background-image: -moz-linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
    background-image: linear-gradient(to bottom left, #4caf50, #4caf50, #4caf50);
    background-size: 210% 210%;
    background-position: top right;
    background-color: #4caf50;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #ffffff;
    margin-top: 0 !important;
}
.MEMBERSHIP-plan {
    max-width: 40%;
    float: left;
    flex: none !important;
    text-align: center;
}
.input-member-plan {
    max-width: 60% ;
    flex: none;
    float: left;
    position: relative;
}

.input-member-plan  {
    border: 1px solid #ddd;
    padding: 21px 14px !important;
}

.heading-member-color {
    color: #e6168c !important;
    padding-bottom: 37px;
}

.MEMBERSHIP-plan .form-group {
    margin-top: 13px !important;
    text-align: right;
}



.admin-profile-page .card {
    background: #fff;
    border-radius: 6px;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}

.admin-profile-page .col-md-6 .card {
    padding: 37px 10px;
    padding-top: 17px;
}
.admin-profile-page .card label {
    color: rgba(7, 7, 7, 0.85);
    font-size: 15px;
    font-family: 'Roboto-Regular' !important;
}

.admin-profile-page  {
    font-family: 'Roboto-Regular' !important;
    display: block;
    width: 100%;
    height: auto !important;
    padding: 10px 0px !important;
    font-size: 13.95px !important;
    line-height: 20px !important;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #ddd !important;
    border-radius: 0 !important;
    color: rgba(0, 0, 0, 0.78) !important;
    font-family: 'Roboto-Regular' !important;
}

.admin-profile-page {
    margin-top: 99px;
}

.admin-profile-page h5.title {
    color: #000000;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: .75rem;
    font-size: 20px;
    font-family: 'Roboto-Regular' !important;
}
.admin-profile-page h5.title:before {
    content: "";
    position: absolute;
    left: auto;
    top: 69px;
    height: 2px;
    width: 15%;
    border-top: 2px solid #e8138b;
}

.admin-profile-page .card .card-body {
    padding: 21px 16px;
}

.admin-profile-page .edit-form h5.title:before{  width: 27%;}
.admin-profile-page .btn-primary { background: #e6168c; background-image: -webkit-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);  background-image: -o-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca); background-image: -moz-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca); background-image: linear-gradient(to bottom left, #e6168c, #e6168c, #e6168c); background-size: 210% 210%; background-position: top right; background-color: #e6168c; transition: all 0.15s ease; box-shadow: none; color: #ffffff; float: right;}
.admin-profile-page .input-group, .form-group { margin-bottom: 20px !important;}
.member-ship-page .input-member-plan { margin-bottom: 66px !important;}
/*.member-ship-page .activeinactive .active-group .form-group [type="radio"]:checked + label, [type="radio"]:not(:checked) + label{font-size: 21px !important;    margin-left: 46px;}*/
/*.member-ship-page .cancel-button-page .btn-success, button.btn.btn-success.mt-4{font-size: 20px; padding: 10px 63px; float: right;}*/
.member-ship-page .table>thead>tr>th{padding: 34px 0px; border-top: 2px dashed rgba(0, 0, 0, 0.30) !important;}
.screen-location-page .table>tbody>tr>td:nth-child(6){width: 212px;text-align: right; padding: 0px 11px;}
.screen-location-page a.tim-icons.icon-trash-simple, .screen-location-page i.tim-icons.icon-pencil { padding: 0px 5px; font-size: 20px;  color: #898989; margin-left: 10px;  margin-right: 0;}
.navbar.navbar-transparent .btn.btn-link, .navbar .navbar-nav>a.btn.btn-link { padding: 8px 0px; color: rgba(255, 255, 255, 0.43); font-size: 17px;letter-spacing: 1.2px; font-family: 'Roboto-Regular';}
.footer-section-page nav.d-flex.justify-content-end nav ul.pagination li.page-item.disabled {color: #9c9c9c !important; font-size: 27px;}
.footer-section-page .page-item.active .page-link { z-index: 1;color: #ffffff !important; background-color: #e7168b;  border-color: #e7168b;  border-radius: 30px; font-size: 24px; padding: 6px 14px;}
.footer-section-page .page-link { border: none !important;}
.footer-section-page .page-link:not(:disabled):not(.disabled) {cursor: pointer; color: #b8b8b8 ; font-weight: 600;  font-size: 20px;}
.footer-section-page ul.pagination li.page-item a.page-link { font-size: 15px !important; padding: 10px 25px;  padding-top: 10px; padding-right: 25px;padding-bottom: 10px;padding-left: 25px;}
.footer-section-page .page-link:hover { z-index: auto; color: #6c757d; text-decoration: none; background-color: #f7f7f7; border-color: #e3e3e3;}
.or { font-size: 24px; color: rgba(255, 255, 255, 0.43);padding: 0px 39px;}
.location-add { position: relative;}
.header-section-manage-location .btn-primary { background: #e7168b !important   ; background-image: -webkit-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca); background-image: -o-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca); background-image: -moz-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca); padding: 15px 58px;}
.location-add img.add { position: absolute; top: 20px;left: auto; right: 177px;  bottom: 0; z-index: 9;}
.border-location {border-bottom: 1px solid #ddd; padding-bottom: 20px;color:    #000000 !important  ;}
.location-heading { color: #000000 !important;  font-size: 17.94px !important; font-family: 'Roboto-Regular' !important; font-weight: 600 !important; margin-top: 17px;}
.border-location i.tim-icons.icon-wallet-43 { margin-right: 12px;}
.location-map .form-control-alternative {  border-bottom: 1px solid #ddd !important;  border-top: 0; border-left: 0; border-right: 0; font-size: 15px; font-family: 'Roboto-Regular' !important;  border-radius: 0; color: #000000;}
.card form label+ {margin-bottom: 0; padding: 45px 0px;}
/*.activeinactive .active-group .form-group { margin: 0 !important;}*/
.activeinactive .active-group .form-group [type="radio"]:checked,[type="radio"]:not(:checked) { position: absolute; left: -9999px;}
.activeinactive .active-group .form-group [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {  font-family: 'Roboto-Regular' !important; position: relative; cursor: pointer; line-height: 20px; display: inline-block;  color: #000; font-size: 17px; padding: 5px 15px; padding-left: 45px;}
.activeinactive .active-group .form-group [type="radio"]:checked + label:before,[type="radio"]:not(:checked) + label:before { content: ''; position: absolute; left: 0; top: 0; width: 31px;  height: 31px;  border: 1px solid  #a1a1a1; border-radius: 100%; background: #fff;}
.activeinactive .active-group .form-group [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after { content: ''; width: 8px;  height: 8px;   background: #4caf50;   position: absolute;   top: 11px;   left: 11px;  border-radius: 100%; -webkit-transition: all 0.2s ease; transition: all 0.2s ease;}
.activeinactive .active-group .form-group [type="radio"]:not(:checked) + label:after { opacity: 0; -webkit-transform: scale(0); transform: scale(0);}
.activeinactive .active-group .form-group [type="radio"]:checked + label:after { opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
.card label {color: rgba(7, 7, 7, 0.6);}
/*.form-control {  font-family: 'Roboto-Regular' !important; display: block; width: 100%; height: auto !important; padding: 10px 0px !important; font-size: 17.95px !important; line-height: 20px !important; background-clip: padding-box; border: none; border-bottom: 1px solid #ddd !important;border-radius: 0 !important;color: #000 !important;font-family: 'Roboto-Regular' !important;}*/
label.form-control-label {  font-family: 'Roboto-Regular' !important; display: block; width:100%; height: auto !important; padding: 10px 10px !important; font-size: 17.95px !important; line-height: 20px !important; background-clip: padding-box; border: none;  border-bottom: 0; border-radius: 0 !important;color: rgba(0, 0, 0, 0.50) !important;font-family: 'Roboto-Regular' !important; margin-left:36px;}
select#input-state {color: rgba(0, 0, 0, 0.50) !important;}
.cancel-button-page .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger:active:focus, .btn-danger:active:hover, .btn-danger.active:focus, .btn-danger.active:hover { background-color: #f44336 !important;
 background-image: linear-gradient(to bottom left, #f44336, #f44336, #f44336) !important; background-image: -webkit-linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93) !important;
 background-image: -o-linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93) !important; background-image: -moz-linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93) !important;color: #ffffff;box-shadow: none;}
 .cancel-button-page .btn-success,button.btn.btn-success.mt-4 { background: #4caf50 !important;  margin-top: -7px !important; background-image: -webkit-linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3); background-image: -o-linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3); background-image: -moz-linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3); 
 background-image: linear-gradient(to bottom left, #4caf50, #4caf50, #4caf50); background-size: 210% 210%; background-position: top right;  background-color: #4caf50; transition: all 0.15s ease; box-shadow: none; color: #ffffff;}
 .cancel-button-page  .btn-danger,button.btn.btn-danger.mt-4 {font-family: 'Roboto-Regular' !important;margin-right: 25px;background: #f44336 !important; background-image: -webkit-linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93); background-image: -o-linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93); background-image: -moz-linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93); background-image: linear-gradient(to bottom left, #f44336, #f44336, #f44336); 
background-size: 210% 210%; background-position: top right; background-color: #f44336;  transition: all 0.15s ease;box-shadow: none; color: #ffffff; margin-top: -4px !important;}
span.button-border {/* margin-left: 10px; margin-right: 10px; */font-size: 28px; color: #ddd; font-weight: normal;margin-right: 21px;}
.active-group { margin-top: -8px;}
i.tim-icons.icon-wallet-43 {margin-right: 14px;}
.table-responsive {overflow: hidden;width: 100%; table-layout: fixed;}
img.add-location-form {  margin: 0 auto;  display: inline-block; margin-bottom: -50px;}
td.form-group-checkbox { display: block; margin-bottom: 15px;}
td.form-group-checkbox input {padding: 0;height: initial; width: initial; margin-bottom: 0; display: none; cursor: pointer;}
td.form-group-checkbox label { position: relative; cursor: pointer;}
td.form-group-checkbox label:before {content: '';-webkit-appearance: none;background-color: transparent; border: 2px solid rgba(0, 0, 0, 0.35); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); padding: 10px; display: inline-block; position: relative;vertical-align: middle; cursor: pointer;  margin-right: 5px;}
td.form-group-checkbox input:checked + label:after {content: ''; display: block;position: absolute;top: 2px; left: 9px; width: 6px;  height: 14px; border: solid #4caf50;border-width: 0 2px 2px 0; transform: rotate(45deg);}
.add-location-table tr th { border-bottom: 1px solid rgba(0, 0, 0, 0.23) !important;}
.table-location tr { border-bottom: 1px solid rgba(0, 0, 0, 0.23) !important;}
.member-ship-page .form-group [type="radio"]:checked + label, [type="radio"]:not(:checked) + label { padding-left:47px;}
.MEMBERSHIP-plan button.btn.btn-success.btn-search.mt-4 { width: 152px;height: 44px;}
.btn-danger {background-color: #f44336; background-image: none;}
.member-ship-page a.btn.btn-danger.mt-4 {margin-top: -5px !important;margin-left: 13px;}
.input-member-plan i.fa.fa-search { position: absolute;top: 25px; bottom: 0;left: 47px;right: auto;font-size: 21px;color: rgba(0, 0, 0, 0.35);}
input#search_location { padding: 22px 63px !important; width: 100%; display: inline-block; margin: 0 auto;color: rgba(0, 0, 0, 0.66) !important; font-size: 17px; font-family: 'Roboto-Regular' !important;}
.main-nav-menu-section .enable {color: #fff !important; position: relative;}
.Add-Locations-page .table>tbody>tr {width: 100%; display: flex;}
.Add-Locations-page .table tbody+tbody {border-top: none;}
.activeinactive {padding-top: 72px;}
.add-location-page-screen {padding-top: 0;}
.caret { margin-left: 5px;}
.invalid-feedback {color: #ff0808;}
.enable:after {content: ''; width: auto; height: 1px; background: white;position: absolute; border: 1px solid #fff;display: inline-block; margin: 0 auto;left: 0;right: 0;bottom: 0;}

/*====================7/1/2019 login-page===============*/

html { height: 100%; width: 100%; min-height: 100vh; min-width: 100vh;}s
body.login-page {min-height: 100vh;min-width: 	100vh;}
.container { width: 100%;padding-right: 0;padding-left: 0; margin-right: auto;  margin-left: auto;}
.product-location-details .details-form:hover { background-color: #e7168b; padding: 0px 19px;color: #fff;}
.product-location-details .details-form { padding: 0px 19px;word-break: break-all; letter-spacing: 0.2px; margin-bottom: 2px;width: 100%; white-space: pre-line;margin-left: -18px;}
.delet-icon {display: inline-block; margin: 0 auto;float: right;margin-top: -21px;color: #fff !important; opacity: 0;visibility: hidden;}
.product-location-details .details-form:hover a.delet-icon {color: #fff; opacity: 1; visibility: visible;}
.header-pinkfitness li.dropdown.nav-item a.dropdown-toggle.nav-link {display: flex; font-size: 14px; text-transform: capitalize; letter-spacing: 1.2px; font-weight: 600;font-family: 'Roboto-Regular' !important;}
/*.header-pinkfitness .photo{ margin-left: 15px;margin-right: 26px;}*/
.header-pinkfitness .dropdown-menu.dropdown-navbar {left: -10px;}
.map-section {padding-top: 36px;}


/*email-page-css-start*/
.forget-password-page .col-md-6 {width: 100%;float: left; display: inline-block;margin: 0 auto;}
.forget-password-page  {padding: 7px 32px !important; border: 0px solid #c2bbbb !important;width: 100%; margin-bottom: 0px;}
.forget-password-page .card {  display: inline-block;margin: 0 auto;width: auto;  border-radius: 5px; background: #fff; padding: 32px 50px;}
.reset-password {padding-top: 0px;width: 100%;/*float: left;*/ display: inline-block; margin: 0 auto;padding: 0px;}
.forget-password-page span.invalid-feedback { margin-left: -100px;margin-top: auto;}
.for-forget-password-button button.btn.btn-primary {text-transform: uppercase; background: #4caf50;padding: 14px 106px;}
.forget-password-page label.col-md-12.col-form-label.text-md-right {     text-align: left !important; font-size: 17px;color: #000000;/*font-family: 'Roboto-Regular' !important;*/}
.for-forget-password-button {    margin-left: 0px; text-align: center;}
.for-forget-password-button a.btn.btn-danger.mt-4 {font-family: 'Roboto-Regular' !important; width: 150px;text-transform: uppercase; margin: 0 !important; margin-right: 15px !important; padding: 10px 27px;}
/*.forget-password-page .card-header:after {content: '';position: absolute; height: 2px; width: 183px; border-top: 2px solid #e8138b; display: inline-block; bottom: 0px; right: auto;left: 15px;}*/
.forget-password-page .card-header {position: relative; padding: 0px 14px 20px 14px; font-family: 'Roboto-Regular' !important; text-align: center;font-size: 23px; color: #000000; font-weight: 600; line-height: 7.2px; letter-spacing: 1.2px;}


/*pagination css start */
 .footer-section-page ul.pagination li[aria-label="« Previous"] .page-link, .footer-section-page ul.pagination li a.page-link[aria-label="Next »"] { font-size: 26px !important; line-height: 35px !important;}
 .footer-section-page ul.pagination li.active span.page-link, .footer-section-page ul.pagination li.active a.page-link, .footer-section-page ul.pagination li:hover span.page-link, .footer-section-page ul.pagination li:hover a.page-link { background: #e7168b;color: #fff !important;}
 .footer-section-page ul.pagination li span.page-link, .footer-section-page ul.pagination li a.page-link { width: 35px; height: 35px; border-radius: 35px;line-height: 38px; padding: 0 !important;font-size: 15px !important; text-align: center; margin: 0 5px;
 transition: all .5s ease .0s;color: rgba(0, 0, 0, 0.46) !important; font-family: 'Roboto-Regular' !important;font-weight: 600 !important;}
.footer-section-page ul.pagination li a[aria-label="« Previous"] a.page-link, .footer-section-page ul.pagination li[aria-label="Next »"] span.page-link { font-size: 26px !important; line-height: 35px !important;}
/*nav header section css*/
.navbar .photo img { width: 100%; display: none;}
.navbar .caret {top: 46%;}
.screen-location-page .table>tbody>tr:hover td { color: #e7168b !important;}
.location-padding-top .invalid-feedback,.edit-page .invalid-feedback{color: #ff0808;margin-left: 42px;}
span.invalid-feedback { position: absolute;}
.login-form-page span.invalid-feedback { position: absolute; top: 147px;  margin-left: 0px!important;
    text-align: initial!important;}



/*ankit*/
.form-control {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    /*background: #e6e6e6;*/
    height: 35px;
    border-radius: 5px;
    padding: 0px 5px 0px 36px;
    border: 1px solid #ddd;
    outline: none;
}
.cw-form-box-div {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 30px;
}
.cw-form-box-symbol-input {
    font-size: 15px;
    
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    pointer-events: none;
    color: #666666;
    
}
.cw-form-box-symbol-input img {
    width: 5.5%;
    border-radius: 0.2857rem;
    margin-left: -10px;
}

.form-box-login-title {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 700;
}
.login-form-page .login-page img{
    max-width:79%!important;
    border-radius: 0.2857rem!important;
   
}    

.cw-form-box-symbol-forgot {
    font-size: 15px;
    
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    pointer-events: none;
    color: #666666;
    
}

.cw-form-box-forgot {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    /*background: #e6e6e6;*/
    height: 35px;
    border-radius: 5px;
    padding: 0px 5px 0px 36px;
    border: 1px solid #ddd;
    outline: none;
    padding: 10px 20px 10px 31px!important;
}
.reset-password-btn{
    display: block;
    border-radius: 5px;
  width: 100%;
  border: none;
  background-color: #6300f0;
  color: white;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;

}
.reset-password-btn:hover{
    background-color: #6300f0;
  color: white;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border: 0px solid #6300f0;
  opacity: .8;

}
.cw-logo-page-footer-btn{
    display: block;
    border-radius: 5px;
  width: 100%;
  border: none;
  background-color: #6300f0;
  color: white;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.cw-logo-page-footer-btn:hover{
    background-color: #6300f0;
  color: white;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border: 0px solid #6300f0;
opacity: .8;
}
.cw-logo-page-footer {
    margin: 0px 60px;
}
 a.reset-password-Sign {
    padding-top: 25px;
    font-weight: 600;
    color: #000;
    text-decoration: underline;
}