@media (min-width: 768px) and (max-width: 991px) {
.Add-Locations-page .table>tbody>tr>td {width: auto;}
.MEMBERSHIP-plan{max-width: 100% !important;}
.input-member-plan{max-width: 100% !important;}
.MEMBERSHIP-plan .form-group{ text-align: left !important;margin-bottom: 24px !important; ssmargin-top: -24px !important;}
.activeinactive {padding-top: 0px !important;}
.map-section {margin-bottom: 40px;}
}
@media (min-width: 768px) and (max-width: 1024px) {
span.button-border{margin-right: 16px !important;}
.MEMBERSHIP-plan{max-width: 100% !important;}
.input-member-plan{max-width: 100% !important;}
.MEMBERSHIP-plan .form-group{ text-align: left !important;margin-bottom: 24px !important; ssmargin-top: -24px !important;}
.activeinactive {padding-top: 0px !important;}
.Add-Locations-page .table>tbody>tr>td {width: auto; padding: 20px 31px !important;}
.map-section {margin-bottom: 40px;}

}
@media (min-width: 992px) and (max-width: 1100px) {
.MEMBERSHIP-plan{max-width: 100% !important;}
.input-member-plan{max-width: 100% !important;}
.MEMBERSHIP-plan .form-group{ text-align: left !important;margin-bottom: 24px !important; ssmargin-top: -24px !important;}
.activeinactive {padding-top: 0px !important;}
.Add-Locations-page .table>tbody>tr>td {width: auto; padding: 20px 31px !important;}
.map-section {margin-bottom: 40px;}
 
}

@media (max-width: 767px){
body.login-page { min-height: 100vh; min-width: 100vh; background-image: linear-gradient( rgba(3, 3, 3, 0.92), rgba(3, 3, 3, 0.92) ), url(../img/background-img-1.jpg) !important;background-repeat: repeat-y; background-size: 100% 100% !important;}
body.login-page .content {background-image: none !important;}
.login-page-form:after{margin-left: 39px !important;}
.login-background-img .card.card-login.card-white.login-page-header{width: 	100% !important	;}
.login-background-img .pull-right.footer-button-forgot{margin-left: 0!important;}
.button-border { display: none;}
.activeinactive .active-group .form-group [type="radio"]:checked + label, [type="radio"]:not(:checked) + label{margin-bottom: 22px;}
.cancel-button-page .btn-success{ width: auto	;padding: 10px 6px;  margin-top: 0px !important; float: left;margin-left: 12px;}
.cancel-button-page .btn-danger{ margin-right: 0px !important;width: auto; float: left;padding: 10px 6px;;}
.header-section-manage-location .btn-primary{margin-top: 14px;padding: 12px 25px !important; font-size: 13px; margin-left: -100px;}
.screen-location-page .table>thead>tr>th{}
.screen-location-page a.tim-icons.icon-trash-simple, .screen-location-page i.tim-icons.icon-pencil{padding: 0!important;margin-left: 0!important;margin-right: 0!important;}
.login-background-img .card-footer.logo-page-footer:after{bottom: 19px !important;}
.admin-profile-page .col-md-6 .card{ margin-bottom: 50px !important;}
.admin-profile-page h5.title:before{width: 33% !important;}
.admin-profile-page .edit-form h5.title:before { width: 57% !important;}
table.table.tablesorter {width: 1000px !important;}
.login-page .content{width: 100% !important;}
.login-background-img{height: auto !important;}
.table-responsive {overflow-x: auto !important;  width: 100% !important;}
.login-background-img .card-footer.logo-page-footer:after{bottom: 0px !important}
.screen-location-page a.tim-icons.icon-trash-simple, .screen-location-page i.tim-icons.icon-pencil{margin-left: 10px !important;}
.location-add img.add{ top: 27px !important; right: 128px !important;width: 15px !important;}
.activeinactive-section {text-align: left !important;}
 button.btn.btn-success.mt-4.save-button { margin-top: -4px !important;}
.admin-profile-page .input-group, .form-group{margin-top: 10px;}
.member-ship-page .form-group [type="radio"]:checked + label, [type="radio"]:not(:checked) + label{/*font-size: 13px !important;*/padding-left: 31px !important;}
.input-member-plan i.fa.fa-search{top: 18px !important;bottom: 0 !important;left: 44px !important;right: auto !important;font-size: 13px !important;}
.member-ship-page .input-member-plan{margin-bottom: 24px !important; max-width: 100% !important;}
.MEMBERSHIP-plan{max-width: 100% !important;}
input#search_location{ padding: 10px 38px !important; width: 100% !important;font-size: 13px !important;height: 19px !important;}
.MEMBERSHIP-plan .form-group{text-align: left !important;}
.MEMBERSHIP-plan button.btn.btn-success.btn-search.mt-4{ width: 101px !important;height: 33px !important;padding: 0px 0px !important;line-height: 35px !important;}
.btn {padding: 11px 28px !important;font-size: 13px !important;}
.activeinactive .active-group .form-group [type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before{width: 20px !important; height: 20px !important;}
.activeinactive .active-group .form-group [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after{width: 6px !important;height: 6px !important; top: 7px !important; left: 7px !important;}
.activeinactive .active-group .form-group [type="radio"]:checked + label, [type="radio"]:not(:checked) + label{padding-left: 33px !important;}
.activeinactive .active-group .form-group [type="radio"]:checked + label, [type="radio"]:not(:checked) + label{padding-top:0 !important; padding-right: 18px !important;}
.member-ship-page .form-group [type="radio"]:checked + label, [type="radio"]:not(:checked) + label{padding-left: 30px !important;}
span.button-border{margin-right: 16px !important;}
.MEMBERSHIP-plan{max-width: 100% !important;}
.input-member-plan{max-width: 100% !important;}
.MEMBERSHIP-plan .form-group{ text-align: left !important;margin-bottom: 24px !important; ssmargin-top: -24px !important;}
.activeinactive {padding-top: 0px !important;}
.Add-Locations-page .table>tbody>tr>td {width: auto;padding: 20px 31px !important;}
.map-section {margin-bottom: 40px;}
span#latlong{margin-top: -26px;}
.forget-password-page { width: 100%;margin: 0 auto;display: inline-block;}
.for-forget-password-button button.btn.btn-primary{width: auto !important;}
.for-forget-password-button a.btn.btn-danger.mt-4{width: auto !important;    margin-bottom: 8px !important;}


}

@media (min-width: 320px) and (max-width: 767px) {
.button-border { display: none;}
.screen-location-page .table>tbody>tr>td { padding: 20px 36px !important;}
.table-responsive { overflow-x: auto !important;  width: 100% !important;}
.MEMBERSHIP-plan{max-width: 100% !important;}
.input-member-plan{max-width: 100% !important;}
.MEMBERSHIP-plan .form-group{ text-align: left !important;margin-bottom: 24px !important; ssmargin-top: -24px !important;}
.activeinactive {padding-top: 0px !important;}
.Add-Locations-page .table>tbody>tr>td {width: auto;padding: 20px 31px !important;}
.map-section {margin-bottom: 40px;}

}
